* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 600 80%/1.5 'Raleway', 'sans-serif';
    text-transform: capitalize;
    letter-spacing: 1.5px;
    background-color: rgba(0, 0, 128, 0.2);
}

a {
    text-decoration: none;
}

#main-content {
    padding: 0;
    margin: 2rem auto;    
    width: 90%;
    height: auto;
    background-color: beige;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 128, 0.5);
    border-radius: 50px;
    display: flow-root;
}

#home-page {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 6rem;
}

#quiz-rules {
    margin: 0 auto;
    padding: 2rem;
    width: 90%;    
    border-radius: 20px;
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 128, 0.5);
}

.question-heading {
    margin: 2rem auto;
    padding: 2rem 3rem 1rem;
    text-align: center;
    font-size: 200%;
}

.question-number {
    padding-bottom: 2rem;
    margin: 0;
    text-align: center;
}

.your-score {
    padding-top: 1rem;
    margin: 3rem 0 5rem;
}

.answer-div {
    width: 60%;
    margin: 1.5rem auto;   
    color: navy;
    border: 1px solid navy;
    border-radius: 20px;
    text-align: center;
    background-color: beige;
    box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 128, 0.5);
    cursor: pointer;
}

.answer-heading {
    width: 100%;
    padding: 1.5rem;
}

.answer-div:hover {
    transform: scale(1.1);
}

#button-div {
    clear: both;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 6rem;
}

.buttons {
    padding: 1.5rem 5rem;
    margin: 2rem;
    text-transform: uppercase;
    background-color: navy;
    font: 600 120%/1.5 'Raleway', 'sans-serif';
    text-transform: capitalize;
    letter-spacing: 1.5px;
    color: beige;
    border-radius: 20px;
    border: 3px solid navy;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 128, 0.5);
    cursor: pointer;
}

.buttons:hover {
    background-color: beige;
    color: navy;
}

.correct {
    color: beige;   
    background-color: green;
}

.incorrect {
    color: beige;
    background-color: red;
}

/* Media Queries min-width: 600px */

@media only screen and (min-width: 600px) {
    #main-content {            
        width: 80%;        
    }
}

/* Media Queries min-width: 800px */

@media only screen and (min-width: 800px) {
    
    #quiz-rules {
        width: 80%;
    }
}

/* Media Queries min-width: 900px */

@media only screen and (min-width: 900px) {
    body {
        font: 600 100%/1.5 'Raleway', 'sans-serif';
    }
}

/* Media Queries min-width: 1000px */

@media only screen and (min-width: 1000px) {
    body {
        font: 600 110%/1.5 'Raleway', 'sans-serif';
    }
    
    #main-content {            
        width: 70%;        
    }  
    
    .answer-div {
        display: inline-block;
        width: 40%;
        margin: 2rem auto;
    }

    .answer-left {
        float: left;
        margin-left: 4rem;
    }
    
    .answer-right {
        float: right;
        margin-right: 4rem;
    }

    .question-number {
        padding: 0;
        margin: 0;
        text-align: center;
    }
}

/* Media Queries min-width: 1200px */

@media only screen and (min-width: 1200px) {
    #main-content {            
        width: 60%;        
    }
    
    #quiz-rules {
        width: 70%;
    }
}