* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 600 110%/1.5 'Raleway', 'sans-serif';
    text-transform: capitalize;
    letter-spacing: 1.5px;
    background-color: rgba(0, 0, 128, 0.2);
}

#main-content {
    padding: 0;
    margin: 5rem auto;    
    width: 60%;
    height: 750px;
    background-color: beige;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 128, 0.5);
    border-radius: 50px;
}

#question-heading {
    margin: 2rem auto;
    padding: 4rem 3rem 1rem;
    text-align: center;
    font-size: 200%;
}

#question-number {
    padding: 0;
    margin: 0;
    text-align: center;
}

.answer-div {
    display: inline-block;
    width: 35%;
    margin: 3rem auto;
    padding: 1.5rem;
    color: navy;
    border: 1px solid navy;
    border-radius: 20px;
    text-align: center;
    background-color: beige;
    box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 128, 0.5);
}

.answer-div:hover {
    transform: scale(1.1);
}

.answer-left {
    float: left;
    margin-left: 5rem;
}

.answer-right {
    float: right;
    margin-right: 5rem;
}

#button-div {
    clear: both;
    margin: 0 auto;
    text-align: center;
}

.buttons {
    padding: 1.5rem 5rem;
    margin: 2rem;
    text-transform: uppercase;
    background-color: navy;
    font: 600 70%/1.5 'Raleway', 'sans-serif';
    text-transform: capitalize;
    letter-spacing: 1.5px;
    color: beige;
    border-radius: 20px;
    border: 3px solid navy;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 128, 0.5);
}

.buttons:hover {
    background-color: beige;
    color: navy;
}